* {
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    /* width: 90vmax; */
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
}

.products ul li{
    display:inline-flex;
    list-style:none;
    margin-right:20px;
}


.company h2{
    color: white;
    padding: 20px;
    margin-left: 20px;
}


.banner-img {
    width:90vmax;
}

.banner-section {
    /* border: 1px solid black; */
    height: 300px;
    width: 90vmax;

}

.product-detail{
    display: flex;
    
}

.pro-left{
    width:100%;
    max-width:50%;
    border:1px solid black;
    
}

.pro-left img {
    width:500px;
    height:500px;
    padding-left: 50px;
}

.pro-right{
    width:100%;
    max-width: 50%;
    border:1px solid black;
}

.pro-right ul li{
    list-style: none;
    margin:20px;

}

.pro-right h4{
    padding: 20px;

}

.pro-button {
    width:100%;
    display: inline-block;
    /* border: 1px solid black; */
}

.add-btn,.buy-btn {
    width:10rem;
    height: 3rem;
    margin: 10px;
    color: white;
    
}

.add-btn{
    background-color: orange;
}
.buy-btn{
    background-color: aquamarine;
}





.category-section {
    /* border: 1px solid black; */
    height: 150px;
    width: 100%;

}
.arrival-section {
    /* border: 1px solid black; */
    height: 200px;
    width: 100%;

}
.discount-section {
    /* border: 1px solid black; */
    height: 150px;
    width: 100%;

}

.category-section ul li {
    list-style: none;
    display:inline-flex;
    width: 100px;
    height:100px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* border: 3px double black; */
    flex-direction: column;
}

.category-section ul li img {
    width: 100%;
}

div h2 {
    margin-bottom: 20px;;
}

.category-section li:hover{
    transform:scale(1.2);
}


.arrival-section ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.arr-li {
    display: flex;
    flex-direction: column;
}

.arr-li:hover{
    transform: scale(1.2);
}

/* .arrival-section ul li img {
    width: 20px;
} */

.arrivals{
    width:150px;
    height: 150px;
    margin: 20px;
}

/* .sub-section span{
    position:absolute;
    top:240px;
    margin-left:10px;
    font-weight:bold;
} */

.banner2 {
    position: relative;
    width: 100vmax;
    top: 450px;
}

.banner2 img {
    width: 100%;
    height: 350px;
}

.discount-section{
    position: relative;
    margin-top: 100px;
    top:400px;
    padding: 10px;
    margin-left: 20px;
    width: 100%;
}

.discount-section img{
    /* margin-top: 50px; */
    margin: 10px;
    width: 220px;
    height: 250px;
}

.footer {
    position: relative;
    top:750px;
    width:100%;
    max-width: 100vw;
    margin-top: 50px;
}

.footer img {
    max-width:100vw;
}


